<div class="center">
    
    <a class="button" href="mailto:whdqqq@hotmail.com" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToEmail', 'InNav', window.location.pathname]);">Email Me</a>
    
</div>


<p>I'm <em>Wharton</em> and this blog is concerned about <em>IT tech. and related project delivery</em>, and some whatever.. Feel free to <a href="#comments">leave a comment</a> or by <a href="mailto:whdqqq@hotmail.com?subject=Interested+In+Your+Blog+Posts" target="_blank">email</a> if you have any thought.</p>

{% include license.html %}

